@import "tailwindcss";

:root {
  --pig: #FFE0E0;
  --pink: #FFA7E2;
  --sky-blue: #AEE9FF;
  --text-color: #201E21;
}

@theme inline {
  
}

@media (prefers-color-scheme: dark) {
  
}

body {
  background: linear-gradient(to bottom right, var(--pig), var(--pink), var(--sky-blue));
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
}
